{% extends "auctions/display.html" %}

{% block title %} Writting comments for {{ listing.title }} {% endblock %}

{% block cancel_comm %}
    <div>
        <a href="{% url 'display' listing.id %}">Cancel Comments</a>
    </div>
{% endblock %}

{% block writecomment %}
    <form action="{% url 'comment' listing.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">Commenting: </label>
            <textarea id="content" name="content" rows="1" cols="50" placeholder="Please show kindness and respect"></textarea><br><br>
        </div>
        
        <input type="submit" id="submit" value="Submit">
    </form>
{% endblock %}