{% extends "auctions/layout.html" %}

{% block title %} Listing: {{ listing.title }} {% endblock %}

{% block body %}
    <h1>{{ listing.title }}</h1>

    <form action="{% url 'changewl' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="identity" value="{{ listing.id }}">
        {% if exist %}
            <input type="submit" name="submit" value="Remove from Watchlist">
        {% else %}
            <input type="submit" name="submit" value="Add to Watchlist">
        {% endif %}
    </form>
    

    {% if owner %}
        <div>
            <form action="{% url 'close' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="identity" value="{{ listing.id }}">
                <input type="submit" name="submit" value="Close This Listing">
            </form>
        </div>
    {% endif %}

    <div>{{ listing.description }}</div>

    <div>Seller: {{ listing.seller.username }}</div>

    <div>Current Price: ${{ price }}</div>

    {% block active %}
        <div>
            <strong>Bidders List: </strong>
            <ul>
                {% for bid in bidders %}
                    <li>{{ bid.bidder.username }}: ${{ bid.curBid }}</li>
                {% endfor %}
                <li>Start Bid: ${{ listing.startBid }}</li>
            </ul>
        </div>

        
        {% if not owner %}
            {% block hide %}
                <div>
                    <a href="{% url 'placebid' listing.id %}">Place a bid</a>
                </div>
            {% endblock %}
        {% endif %}

        

        {% block placebid %}
        {% endblock %}

        
        
    {% endblock %}

    {% if not listing.finished %}
        {% block cancel_comm %}
            <a href="{% url 'comment' listing.id %}">Write Comments</a>
        {% endblock %}
    {% endif %}
    <div>
        <strong>Comments: </strong>
        <ul>
            {% for comm in comments %}
                <li>{{ comm.created_at.month }}/{{ comm.created_at.day }} <strong>{{ comm.writer.username }}</strong>: {{ comm.content }}</li>
            {% endfor %}
        </ul>
    </div>

    {% block writecomment %}
    {% endblock %}
{% endblock %}
